html, body {
    font-size: 10px;
    height: 100%;
}

body {
    max-width: 320px;
    background-color: var(--color-pomb-and-power);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}